# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../eventlog\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../../:\github\khorevaa\eventlog\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
